In [14]:
#import dependcies 

import pandas as pd 
import numpy as np 

#initialize, define and populate data frame 
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})

daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55

In [1]:
#uses the dropNA function to drop the NaN records 
#casting to a new dataframe - can't see the drop if I dont have it in place.  Ask about this one
daily_returns2 = daily_returns.dropna()
daily_returns2

NameError: name 'daily_returns' is not defined

In [17]:
import pandas as pd
best_actors_df = pd.DataFrame({
    "Best Actors": ["Nic Cage", "Nic Cage", "Harrison Ford"]
})
best_actors_df

best_actors_df.duplicated()
best_actors_df.duplicated().sum()

1

In [18]:
best_actors_df2 = best_actors_df.drop_duplicates() 
best_actors_df2

     Best Actors
0       Nic Cage
2  Harrison Ford

In [32]:
#create a dataset that includes currency symbols
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices
prices.dtypes #checks datatypes

price_usd    object
dtype: object

In [33]:
# using the str.replace function to replace the $ in the Price_usd column 
prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

prices

C:\Users\kbrabec\AppData\Local\Temp\1\ipykernel_22492\3009619495.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].str.replace("$", "")

  price_usd
0      0.53
1      0.22
2      0.34

In [36]:
#convert data type to a numerical data type 
prices.loc[:, "price_usd"] = prices.loc[:, "price_usd"].astype("float")
prices

prices.dtypes

price_usd    float64
dtype: object