In [1]:
#list of high schools 
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
#iterates and prints each school name 
for school_name in high_schools:
    print(school_name)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A list of dictionaries  of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
i = 0
for school_name, school_type in high_school_types: 
    result = list(high_school_types[i].values())
    i = i+1
    print(f"School name: {result[0]}, School type: {result[1]}")

School name: Griffin, School type: District
School name: Figueroa, School type: District
School name: Wilson, School type: Charter
School name: Wright, School type: Charter

In [2]:
# for i in high_school_types: #[0,1,2,3]
#    school_name = i['High School']
#     school_type = i['Type']
#    print(f"School name: {school_name})

['Griffin', 'District']
['Figueroa', 'District']
['Wilson', 'Charter']
['Wright', 'Charter']

In [103]:
# add pandas dependency 
import pandas as pd

In [9]:
# List of high schools
high_schools3 = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [10]:
#create a pandas series from a list 
# this converts the list of highschools into a Pandas Series. 
school_series = pd.Series(high_schools3)
school_series #this displays the value of the school series variable

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [13]:
#iterate through school_series and print each highschool name 
#iteration logic found here: https://pandas.pydata.org/docs/reference/api/pandas.Series.iteritems.html

for index, value in school_series.items():
    print(f"Index : {index}, Value : {value}")

Index : 0, Value : Huang High School
Index : 1, Value : Figueroa High School
Index : 2, Value : Shelton High School
Index : 3, Value : Hernandez High School
Index : 4, Value : Griffin High School
Index : 5, Value : Wilson High School
Index : 6, Value : Cabrera High School
Index : 7, Value : Bailey High School
Index : 8, Value : Holden High School
Index : 9, Value : Pena High School
Index : 10, Value : Wright High School
Index : 11, Value : Rodriguez High School
Index : 12, Value : Johnson High School
Index : 13, Value : Ford High School
Index : 14, Value : Thomas High School

In [ ]:
# Pandas DataFrame 
# 2 Dimensional, labeled data structure that's like a dictionary. 
# Has rows and columns and may contain different data types 
# A data frame contains multiple pandas series or lists.  (each column in an excel file is a series)
# You can convert the data in an excel file to a pandas DataFrame by using the DataFrame() method

In [ ]:
#convert a list of dictionaries to a Dataframe

In [15]:
# A dictionary of high schools
#colunn headers are the keys in the dictionary 
#values for the keys correspond to a row in the excel file 

high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [16]:
#convert array/list to a DataFrame 
school_df = pd.DataFrame(high_school_dicts)
school_df 
#indexing in DataFrames start at 0 (standard python indexing)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [24]:
#convert a list of series to a dataFrame 
# Three separate lists of information on high schools
#create lists 
school_id4 = [0, 1, 2, 3, 4]

school_name4 = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school4 = ["District", "District", "Charter", "District","Charter"]

In [25]:
#initalize a new data frame
schools2_df = pd.DataFrame()

In [26]:
#add list to a new dataframe 
schools2_df["School ID"] = school_id4
#print dataframe 
schools2_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [28]:
#add additional lists to dataframe 
schools2_df["School Name"]= school_name4
schools2_df["School Type"]= type_of_school4
#print dataframe 
schools2_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [29]:
#create a dictionary of information on highschools 
# Create a dictionary of information on high schools.
high_schools_dict5 = {'School ID': school_id4, 'school_name':school_name4, 'type':type_of_school4}
high_schools_dict5

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [31]:
#skill drill 
#create lists
school_id6 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name6 = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school6 = ["District", "District", "Charter", "District","Charter", "Charter" , "Charter" , "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [32]:
#initialize a new dataframe 
school_list_df = pd.DataFrame()

In [33]:
#add lists to dataframe 
school_list_df["School ID"]= school_id6
school_list_df["School Name"]= school_name6
school_list_df["School ID"]= type_of_school6
#display DataFrame 
school_list_df

   School ID            School Name
0   District      Huang High School
1   District   Figueroa High School
2    Charter    Shelton High School
3   District  Hernandez High School
4    Charter    Griffin High School
5    Charter     Wilson High School
6    Charter    Cabrera High School
7   District     Bailey High School
8    Charter     Holden High School
9    Charter       Pena High School
10   Charter     Wright High School
11  District  Rodriguez High School
12  District    Johnson High School
13  District       Ford High School
14   Charter     Thomas High School