## Student Data Analysis

In this activity, you will use the steps below to analyze a dataset of student test scores from schools in a fake school district.

1. Collect the data.

2. Prepare the data.

3. Summarize the data. 

4. Drill down into the data. 

5. Make comparisons.

### Import required libraries and dependencies

<!-- https://pypi.org/project/pathlib2/ -->

In [1]:
#import dependencies

import pandas as pd 
import os

## Step 1: Collect the data.

To collect the data that youâ€™ll need, complete the following steps:

**1. Using the Pandas `read_csv` function and the `os.path.join` function, import the data from the `new_student_data.csv` file, and create a DataFrame called student_df.**

In [2]:
# open file, read file and create Dataframe 
# direct path navigation to the file 
student_data = os.path.join('../resources/new_student_data.csv') 
#initiate and populate dataframe
student_df = pd.read_csv(student_data)

<bound method NDFrame.head of        student_id       student_name grade             school_name  \
0       127008367      Sarah Douglas  11th       Chang High School
1        33365505  Francisco Osborne   9th      Fisher High School
2        44359500          Ryan Haas  12th    Campbell High School
3        24791243       Kathryn Mack  11th     Richard High School
4       121467881    Harold Reynolds  12th       Chang High School
...           ...                ...   ...                     ...
13935    32277979        Kelly Myers  10th    Sullivan High School
13936   109412748     Kimberly Burke  10th  Montgomery High School
13937    16856426    Crystal Merritt   9th      Turner High School
13938    88213835      Misty Wiggins  10th      Fisher High School
13939    12153644      Michele Jones  11th       Chang High School

       reading_score  math_score school_type
0               87.2        64.1      Public
1                NaN         NaN      Public
2               91.6        54.7      Public
3               68.9        73.3     Charter
4               68.7        43.4      Public
...              ...         ...         ...
13935           62.3        37.9      Public
13936           99.5        89.8      Public
13937           86.3        71.1      Public
13938           75.4        76.4      Public
13939           69.0        72.4      Public

[13940 rows x 7 columns]>

**2. Use the head (and/or the tail) function to confirm that Pandas properly imported the data.**

In [4]:
#display dataframe
student_df.head() #shows first 5
student_df.tail() #shows last 5

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
13935,32277979,Kelly Myers,10th,Sullivan High School,62.3,37.9,Public
13936,109412748,Kimberly Burke,10th,Montgomery High School,99.5,89.8,Public
13937,16856426,Crystal Merritt,9th,Turner High School,86.3,71.1,Public
13938,88213835,Misty Wiggins,10th,Fisher High School,75.4,76.4,Public
13939,12153644,Michele Jones,11th,Chang High School,69.0,72.4,Public

In [7]:
student_df.isnull() #sets individual fields True/false 
student_df.isnull().sum() #counts the number of null values in each column 
student_df.isnull().mean() #calcualtes the percentage of missing values

#calculation logic - cell gets assigned a 1 if data is present and 0 if no data is present. 
#taking the mean of these columns will show the percentage of missing data determined
#allowing us to determine how to handle the missing data.

student_id       0.000000
student_name     0.000000
grade            0.000000
school_name      0.000000
reading_score    0.101435
math_score       0.050574
school_type      0.000000
dtype: float64

## Good work!

You are now prepared to start the next lesson before starting step 2.