In [3]:
# #list of highschools:
# high_schools = ["Hernandez High School", "Figueroa High School",
#                 "Wilson High School","Wright High School"]

# #iterate through schools 
# for school_name in high_schools:
#     print(school_name)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [10]:
# # A dictionary of high schools and the type of school.
# high_school_types = [{"High School": "Griffin", "Type":"District"},
#                     {"High School": "Figueroa", "Type": "District"},
#                     {"High School": "Wilson", "Type": "Charter"},
#                     {"High School": "Wright", "Type": "Charter"}
#                     ]
# print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [28]:
# List of high schools
high_schools2 = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [29]:
#add pandas dependency
import pandas as pd

In [33]:
#create a pandas series from a list
school_series = pd.Series(high_schools2)

In [32]:
#iterate through the series and print each name
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [40]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [41]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [42]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [43]:
#initialize a new, empty DataFrame 
schools_df = pd.DataFrame()

In [44]:
#add school ID to a new Dataframe 
schools_df["School ID"] = school_id
#print dataframe
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [46]:
#add remaining lists 
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [49]:
#convert a dictionary to a dataframe 
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [50]:
#initialize a new dataframe and populate from dictionary 
#logic for DataFrame.fromDict() from Stack overflow https://stackoverflow.com/questions/18837262/convert-python-dict-into-a-dataframe
schools2_df = pd.DataFrame.from_dict(high_schools_dict)
schools2_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [51]:
schools2_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [52]:
schools2_df.index

RangeIndex(start=0, stop=5, step=1)

In [53]:
schools2_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [61]:
#create lists
school_id3 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name3 = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school3 = ["District", "District", "Charter", "District","Charter", "Charter", "Charter",  "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [62]:
#initialize Dataframe 
schools3_df = pd.DataFrame()

In [63]:
#add columns to Dataframe 
schools3_df["School ID"] = school_id3
schools3_df["School Name"] = school_name3
schools3_df["School Type"] = type_of_school3
#DISPLAY DATAFRAME
schools3_df

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter